@import "variables";
@import url('https://fonts.googleapis.com/css?family=Hind|Playfair+Display');


.events-box{
  width: 100%;
  margin-top: 8%;
  font-family: 'Hind', sans-serif;
}

.display-options{
  text-align: center;
  position: relative;
  top: 30px;
  margin-bottom: 30px;
  .fa-bars{
    margin-left: 20px;
    font-size: 2.1em;
    cursor: pointer;
    &:hover{
      color: darken($text-color, 5%);
    }
  }
  .fa-th{
    cursor: pointer;
    font-size: 1.9em;

    &:hover{
      color: darken($text-color, 5%);
    }
  }
}

.event-row{
  .event-cell-out-of-link{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 20px;
  }
  .link-row{
    text-align: center;
    display: table;
    width: 100%;
    height: 50px;
    a {
      text-decoration: none !important;
      color: $text-color !important;
    }
    .event-cell{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      color: $text-color;
      text-decoration: none;
      outline: none;
      width: 200px;
    }
  }
  width: 100%;
  height: 60px;
  text-align: center;
  display: table;
  background-color: $event-box-background;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0 1.5px $box-shadow-color;
  &:hover{
    background-color: $event-box-hover;
  }
}

.events-table{
  margin-top: 20px;
}

.detail-button{
  margin-top: 5px;
}

.update-event-button{
  min-width: 70px;
}