@import "variables";

.user-options{
  .dropdown-menu{
    width: 105px;
    min-width: 105px;
    text-align: center;
    position: absolute;
  }
  .fa-user{
    text-align: center;
    font-size: 2em;
  }
  .fa-power-off{
    text-align: center;
    font-size: 2em;
  }
}

.bg-light{
  background-color: $background-color !important;
}