@import "variables";

.hey{
  color: blue;
  background-color: #6c757d;
  width: 500%;
}
.yo{
  color: red;
}

.user-box{
  position: relative;
  left: 0;
  right: 0;
  top: 100px;
  background-color: $event-box-background;
  box-shadow: 0 2.5px $box-shadow-color;
  border-radius: 5px;
  text-align: center;
  height: 120px;
  margin-bottom: 25px;
  .user-titles{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .img-box{
    position: absolute;
    left: 50%;
    .user-img{
      border-radius: 50%;
      background-color: #2f2f2f;
      color: #e6e6e6;
      width: 100px;
      height: 100px;
      position: relative;
      left: -50%;
      bottom: 65px;
      .user-letters{
        position: relative;
        top: 25px;
      }
    }
  }
}

.user-events{
  position: relative;
  left: 0;
  right: 0;
  top: 110px;
  .event-box{
    background-color: $event-box-background;
    box-shadow: 0 1.5px $box-shadow-color;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    height: 252px;
    a{
      color: $text-color;
    }
    .event-options{
      display: inline-flex;
      position: relative;
      width: 100%;
      font-family: 'Hind', sans-serif;
    }
    .leave-event-button{
      position: absolute;
      right: 0;
      min-width: 50%;
    }
    .user-event-title{
      height: 34px;
      overflow: hidden;
      color: darken($text-color, 5%);
    }
    .event-date{
      font-family: 'Hind', sans-serif;
      font-size: 0.9em;
      color: lighten($text-color, 5%);
    }
    .clickable{
      height: 84.5%;
    }
    .owner-label{
      position: relative;
      top: -10px
    }
    .user-event-description{
      height: 77px;
      overflow-y: auto;
      padding-right: 10px;
      font-family: 'Hind', sans-serif;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: $scroll-color;
      }
    }
  }
  .event-box-mobile{
    background-color: $event-box-background;
    box-shadow: 0 1.5px $box-shadow-color;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    height: 150px;
    a{
      color: $text-color;
    }
    .event-options{
      display: inline-flex;
      position: relative;
      width: 100%;
      font-family: 'Hind', sans-serif;
    }
    .leave-event-button{
      position: absolute;
      right: 0;
      min-width: 50%;
      bottom: 20px;
    }
    .user-event-title{
      height: 34px;
      overflow: hidden;
      color: darken($text-color, 5%);
    }
    .event-date{
      font-family: 'Hind', sans-serif;
      font-size: 0.9em;
      color: lighten($text-color, 5%);
    }
    .clickable {
      height: 84.5%;
    }
    .owner-label{
      position: relative;
      top: -10px
    }
    .user-event-description{
      height: 20px;
      padding-right: 10px;
      font-family: 'Hind', sans-serif;
    }
  }

}

.-webkit-scrollbar-thumb {
  transition: background-color 0.5s ease;
}